.prof_animate {

    position: relative;
    -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: both; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease_in;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from { left:0px; top:0px;}
    to {left:200px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    from {left:0px; top:0px;}
    to {left:200px; top:0px;}
}

.port_fluid{
   object-fit: fill;
   max-width: 350px;
   max-height: 200px;
   width: 350px;
   height: 200px
}
