:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer p {
  margin-bottom: .25rem;
}

.stickynk {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	right: 0;
	font-size: 20px;
	padding: 20px;
	z-index: 100;
  }

  .stickysocial {
	margin: 10px;
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 20px;
	z-index: 100;
	border: 10px;
	border-color: black;
	border-radius: .25rem;
	box-shadow: 5px 10px 20px grey;
  }

.btn-group {
	border-color: black;
}

.btn {
	border: 2px solid black;
	background-color: white;
	color: black;
	padding: 14px 20px;
	font-size: 12px;
	cursor: pointer;
  }

  .btn-main-details {
    width: 100px;
  }

  /* Green */
  .success {
	border-color: #4CAF50;
	color: green;
  }

  /* Blue */
  .info {
	border-color: #2196F3;
	color: dodgerblue;
  }

  /* Orange */
  .warning {
	border-color: #ff9800;
	color: orange;
  }

  /* Red */
  .danger {
	border-color: #f44336;
	color: red;
  }

  /* Gray */
  .default {
	border-color: #e7e7e7;
	color: black;
  }

  /* Dark */
  .dark {
	border-color: #000000;
	color: rgb(255, 255, 255);
  }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#description {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main_jumbotron_section{
	background-color: white;
}

.ndkshr_data{
	color: black;
}

.card{
	box-shadow: 2px 4px 8px grey;
	background-color: white;
	transition: height 1s;
  	-webkit-transition: height 1s;
}
.card:active{
	box-shadow: 1px 1px 2px grey;
	background-color: white;
}
.card:hover{
	background-image: url(projectdata/gifs/batman.gif);
	background-position: right;
	background-size:contain;
	background-repeat: no-repeat;
}

.shadow{
	box-shadow: 8px 15px 10px grey;
}

.bg-light{
	background-color: white !important;
}
